@tailwind base;
@tailwind components;
@tailwind utilities;

/* GluestackUI CSS Variables */
:root {
  --color-primary-0: 179, 179, 179;
  --color-primary-50: 153, 153, 153;
  --color-primary-100: 128, 128, 128;
  --color-primary-200: 115, 115, 115;
  --color-primary-300: 102, 102, 102;
  --color-primary-400: 82, 82, 82;
  --color-primary-500: 51, 51, 51;
  --color-primary-600: 41, 41, 41;
  --color-primary-700: 31, 31, 31;
  --color-primary-800: 13, 13, 13;
  --color-primary-900: 10, 10, 10;
  --color-primary-950: 8, 8, 8;

  --color-background-0: 255, 255, 255;
  --color-background-50: 246, 246, 246;
  --color-background-100: 242, 241, 241;
  --color-background-200: 220, 219, 219;
  --color-background-300: 213, 212, 212;
  --color-background-400: 162, 163, 163;
  --color-background-500: 142, 142, 142;
  --color-background-600: 116, 116, 116;
  --color-background-700: 83, 82, 82;
  --color-background-800: 65, 64, 64;
  --color-background-900: 39, 38, 37;
  --color-background-950: 18, 18, 18;

  --color-outline-0: 253, 254, 254;
  --color-outline-50: 243, 243, 243;
  --color-outline-100: 230, 230, 230;
  --color-outline-200: 221, 220, 219;
  --color-outline-300: 211, 211, 211;
  --color-outline-400: 165, 163, 163;
  --color-outline-500: 140, 141, 141;
  --color-outline-600: 115, 116, 116;
  --color-outline-700: 83, 82, 82;
  --color-outline-800: 65, 65, 65;
  --color-outline-900: 39, 38, 36;
  --color-outline-950: 26, 23, 23;

  --color-typography-0: 254, 254, 255;
  --color-typography-50: 245, 245, 245;
  --color-typography-100: 229, 229, 229;
  --color-typography-200: 219, 219, 220;
  --color-typography-300: 212, 212, 212;
  --color-typography-400: 163, 163, 163;
  --color-typography-500: 140, 140, 140;
  --color-typography-600: 115, 115, 115;
  --color-typography-700: 82, 82, 82;
  --color-typography-800: 64, 64, 64;
  --color-typography-900: 38, 38, 39;
  --color-typography-950: 23, 23, 23;

  --color-error-0: 254, 233, 233;
  --color-error-50: 254, 226, 226;
  --color-error-100: 254, 202, 202;
  --color-error-200: 252, 165, 165;
  --color-error-300: 248, 113, 113;
  --color-error-400: 239, 68, 68;
  --color-error-500: 230, 53, 53;
  --color-error-600: 220, 38, 38;
  --color-error-700: 185, 28, 28;
  --color-error-800: 153, 27, 27;
  --color-error-900: 127, 29, 29;
  --color-error-950: 83, 19, 19;

  --color-indicator-primary: 55, 55, 55;
  --color-indicator-info: 83, 153, 236;
  --color-indicator-error: 185, 28, 28;
}
